#### 1.
Write a Python Program to accept the details of a student like name, roll number and mark and display it.
Sample input: Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Sample output:
Name: Anisha
Roll No: 21
Mark: 78

In [2]:
name=input('Enter the name :')
rollno=int(input('enter the roll number :'))
mark=int(input('enter the mark :'))
print('name  :',name)
print('Rollno :',rollno)
print('mark :',mark)

Enter the name :vyshakh
enter the roll number :30
enter the mark :100
name  : vyshakh
Rollno : 30
mark : 100

#### 2.
Write a Python program to convert temperatures to and from Celsius Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f= temperature in Fahrenheit.] Sample input: Temperature in Fahrenheit =41 Sample output: Temperature in Celsius =5

In [11]:
print('enter your choice')
print('1.celsius to farenheit'+'\n'+'2.farenheit to celsius'+'\n')
choice=int(input())
if choice==1:
    celsius=int(input('enter the temperature in celsius'))
    Fahrenheit=(celsius*1.8)+32
    print(celsius,'degree'+' '+'is',Fahrenheit,'farenheit')
elif choice==2:
         Fahrenhe=int(input('enter the temperature in farenheit'))
         Celsi=(Fahrenheit-32)/1.8
print(Fahrenhe,'is',round(Celsi,2),'degree')

enter your choice
1.celsius to farenheit
2.farenheit to celsius

2
enter the temperature in farenheit34
34 is 8.33 degree

#### 3.
Write a Python program to accept two numbers from the user and display
its product.

In [4]:
number1=int(input('enter the first number'))
number2=int(input('enter the second number'))
product=number1*number2
print('product of the numbers',number1,'and',number2,'is',product)

enter the first number4
enter the second number5
product of the numbers 4 and 5 is 20

#### 4.
Write a Python program to accept a string “Learn Python by Developing a
Website” and display the string like “Learn**Python** by Developing a
**Website**”

In [31]:
string="Learn Python by Developing a Website"

In [32]:
print("Learn **Python**by Developing a **Website**")

Learn **Python**by Developing a **Website**

#### 5.
Write a Python program to accept the radius of a circle and display its area.

In [5]:
radius=int(input('enter the radius of the circle'))
pi=3.14;
area=pi*radius*radius
print('area of the circle with radius',radius,'is',area)

enter the radius of the circle5
area of the circle with radius 5 is 78.5

#### 6.
Python program to insert a number to any position in a list (Get the number to be inserted and position from the user)

In [6]:
list1=[1,2,3,4,5,6]

In [12]:

element=int(input('enter the element to insert : '))
index=int(input('enter the position you need to add the elemenent : '))
list1.insert(index,element)
print('element inserted')

enter the element to insert : 3
enter the position you need to add the elemenent : 4
element inserted

In [13]:
list1

[1, 2, 3, 4, 3, 4, 5, 6]

#### 7.
Write a program to rename a key city to a location in the following dictionary.
sample_dict = { "name": "John", "age":5, "salary": 8000, "city": "New York"}

In [18]:
d= { "name": "John", "age":5, "salary": 8000, "city": "New York"}

In [20]:


d["location"] = d.pop("city")

print(d)

{'name': 'John', 'age': 5, 'salary': 8000, 'location': 'New York'}


#### 8.
Write a Python program to change Brad’s salary to 8500 in the following dictionary.
sample_dict = {
'emp1': {'name': 'John', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 500}
}

In [24]:
sample_dict = {
'emp1': {'name': 'John', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 500}
}

In [25]:
sample_dict

{'emp1': {'name': 'John', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 500}}

In [29]:
sample_dict['emp1']['salary']=8500
sample_dict

{'emp1': {'name': 'John', 'salary': 8500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 500}}

#### 9.
Write a program to copy elements 43 and 54 from the following tuple into a new tuple. Given:
tuple1 = (10, 20, 43, 54, 56, 68)

In [21]:
t1 = (10, 20, 43, 54, 56, 68)

In [23]:
t2 = t1[2:4]
print(t2)

(43, 54)

#### 10.
Counts the number of occurrences of item 50 from a tuple
tuple1 = (50, 10, 60, 70, 50,83,567,50,81)

In [27]:
tuple1 = (50, 10, 60, 70, 50,83,567,50,81)

In [28]:
tuple1.count(50)

3

### End